[2018-10-03 22:20] zegelin opened #2 "500 server error/exception thrown if metrics are queried during startup."
If a HTTP `GET /metrics` is issued while Cassandra is still starting up, the following exception is thrown:

[code]

[2018-10-10 14:43] erebe opened #3 "Provide a mean to reproduce benchmarks results"
Hello,

I am the author of criteo/cassandra_exporter and I would like to be able to reproduce your benchmarks in order to understand where are coming from the differences in performance from the other exporters you compare.

On my side, even on a pretty loaded cluster with a lot of keyspaces/tables the scraping time does not take more than 9sec (the machines have big cpus). But even while, when I

[2018-10-10 17:45] zegelin opened #4 "HEAD requests not handled appropriately"
HEAD requests to the build-in HTTP server always include the content/body.

[2018-10-10 17:46] zegelin opened #5 "Metric for tables created post-start are missing metatdata labels"
Creating a table via CQL results in new metrics appearing, but these metrics don't have any additional matadata labels (table_id, table_type, etc.)

[code]

[2018-10-10 17:47] zegelin opened #6 "https://github.com/instaclustr/cassandra-exporter/issues/5"
Implement a basic webapp that consumes the JSON output and displays:
- Metirc families
   - Name
   - Type
   - Help
- Metrics per family
   - Labels
   - Value
   - _maybe_ graph over time

[2018-10-10 17:47] zegelin opened #7 "Add example queries to README/wiki"
The README/wiki should contain some real-world example queries that show off the exporter.

[2018-10-10 17:55] zegelin opened #8 "Add Grafana templates"
These should be some example Grafana templates that show off the exporter.

+ add some screenshots to the README.

[2018-10-10 17:56] zegelin opened #9 "Standalone exporter is missing table metadata"

[2018-10-11 09:52] erebe commented on #3
Hi,
Thanks for the quick reply :)
I will look into that later in the week and will keep you posted.

As a side note, while performance is nice, you should warn/advertise the downside of running the exporter as an agent, most notably:
- You have to restart your cluster if you want to upgrade the exporter plugin (may not be an issue if you are on kubernetes)
- You are sharing the same jvm/heap than

[2018-10-13 18:39] chrisgoffinet opened #11 "NullPointerException on startup"
Tried the latest release, noticed this NPE on startup, I think it might be related to the fact im using G1 for Cassandra and not CMS:

[code]

[2018-10-15 00:16] #9 closed

[2018-10-15 00:16] #11 closed

[2018-10-15 00:17] zegelin commented on #11
Thanks for the bug report and PR. Merged.

I'll be doing the v0.9.4 release shortly, which will contain your changes.

[2018-10-16 13:10] zegelin commented on #2
I'm hesitant to return labels with "unknown" or omit them entirely when the returned host id value is null. This would result in creating new time series during the period where the host id is null.

[2018-10-16 13:45] chrisgoffinet commented on #2
That's a fair point. So then let's just not expose the metric until it becomes stable? If that's okay i can submit a PR

[2018-10-16 13:47] zegelin commented on #2
I'm working on a fix now.

I'm going to remove the `host_id` (it was going to become disabled by default in v0.9.4 anyway) and lookup the endpoint IP address via alternate means.

[2018-10-16 13:47] chrisgoffinet commented on #2
Sounds good

[2018-10-17 15:48] erebe commented on #3
Hi back,

So indeed my exporter was way slower with a lot of tables.

[2018-10-18 01:44] zegelin commented on #3
Thanks for the suggestions of notes/warnings about running an exporter as an agent. I'll consider adding them to the README.

GZip and Deflate is already supported -- Netty's `HttpContentCompressor` is part of the pipeline.

For example, the following request returns GZip encoded content which is successfully decompressed with `gunzip`:

[code]

Yes, `getAttributes` is one of the slowest JMX calls

[2018-10-18 01:53] zegelin commented on #2
Fixed in v0.9.4

[2018-10-18 01:53] #2 closed

[2018-10-18 01:53] zegelin commented on #4
Fixed in v0.9.4

[2018-10-18 01:53] #4 closed

[2018-10-18 01:53] zegelin commented on #5
Fixed in v0.9.4

[2018-10-18 01:53] #5 closed

[2018-10-23 11:06] erebe commented on #3
Ok for gzip, I should have missed it :)
Good luck

[2019-01-07 22:58] zegelin opened #17 "Add logback metrics"
Would be nice to get a count of messages at each logging level as a metric.

See https://metrics.dropwizard.io/3.1.0/manual/logback/ as an example.

[2019-01-24 17:04] Threon opened #18 "Add additional compatibilities"
We would like to implement this on our systems, but we are currently running 2.2.5.  We will be looking at moving to either 2.2.11 or 2.2.13 very shortly.  Seeing support added for any/all of these would be great for us.

[2019-02-25 22:11] yanniszark commented on #8
First of all, thanks for the great effort on this exporter, I have tried it and it works like a charm!
Is there a plan to release a Grafana dashboard or adapt an existing one for this exporter?

The issue with Cassandra not natively exporting metrics to Prometheus, is that every exporter names metrics a little different, so dashboards are not portable.
I have tried the following dashboards and fai

[2019-03-12 09:12] ahilsend opened #20 "License"
Hi!

This project looks quite interesting! We were hoping to try it out, would you mind adding a license?

Thanks!

[2019-03-12 21:53] #20 closed

[2019-03-12 21:54] zegelin commented on #20
The project is now under the Apache License 2.0.

I'll look into adding the license into the jar on build.

[2019-03-12 21:55] #3 closed

[2019-03-13 09:40] ahilsend commented on #20
Thanks a lot!

[2019-04-03 18:03] alkalinecoffee commented on #18
I'd like to add a support request for `2.0.x` as well here.

[2019-04-26 07:52] smiklosovic commented on #18
hey @Threon @alkalinecoffee
We are open to the contribution, if you manage to implement this and send a PR to us we will review gladly.

[2019-05-01 16:30] rustyrazorblade opened #23 "exporter incompatible with cassandra trunk (4.0)"
When trying to collect metrics from trunk I've run into this:

[code]

The call `FBUtilities.getBroadcastAddress()` was removed in process of making C* run multiple instances on one machine.  It should be replaced with ``FBUtilities.getLocalAddressAndPort``

[2019-05-01 16:37] zegelin commented on #23
Yes, support for multiple newer & older versions of Cassandra is pretty much non-existent at this point.

We've been working on building a test framework that lets us verify that changes to the exporter codebase don't effect the output. Once that's complete we hope to refactor the code to support multiple versions.

[2019-05-01 17:13] rustyrazorblade commented on #23
OK.  Happy to help test it out once you've got something to hammer on.

[2019-05-04 12:30] Louies89 commented on #8
@zegelin @yanniszark got any dashboard?

[2019-06-27 03:27] b1ackbeardast commented on #8
I would also like to see a dashboard for this exporter.

[2019-07-15 23:11] cscetbon opened #28 "Add missing jmx metrics"
I like the speed of your exporter, however it's missing some metrics that are available in the default exporter and useful. For now I'm using both exporters with the following configuration for the default one to get those that are missing https://pastebin.com/raw/DvW435Lr

Any reason why those metrics are missing ? Do you recommend using both the default exporter and yours ?

[2019-07-15 23:44] zegelin commented on #28
Hi @cscetbon. Which metrics appear to be missing?

I ran Cassandra with Prometheus's _jmx_exporter_ and the config file you provided and most (I didn't check all) metrics you've whitelisted are available from _cassandra-exporter_. Note that the names of various metrics are not identical -- _cassandra-exporter_'s metric names have been designed to be more in-line with Prometheus' best practices.

F

[2019-07-16 01:53] cscetbon commented on #28
@zegelin for the first metrics I'm aware of it. For the _keyspace_*, do you mean I should aggregate them or that the exporter does it somehow and exposes them under another name ? Cause the default exporter does expose them. if I understand you correctly, why not expose them to avoid having users to aggregate them ?

[2019-07-16 02:54] zegelin commented on #28
Cassandra aggregates table level metrics into per-keyspace metrics, and then further aggregates them to node-level metrics, and makes these all available via JMX, hence *jmx_exporter* will see these and export them by default.

_cassandra-exporter_ is following Prometheus' best practices here by choosing not to export pre-aggregated metrics, and instead defers this to Prometheus. Look into [Recodi

[2019-07-16 03:33] cscetbon commented on #28
@zegelin fair enough. I need to check if there are other metrics that could missing and not calculable as opposed to the solution you just gave for the keyspace metrics. I've been told by someone else that even ` java.lang:type=Memory` is not available but I doubt it as it's a default java metric. I can check it but if you can answer off the top of your head that'd be great !

[2019-07-16 06:15] zegelin commented on #28
`java.lang:type=Memory` is a summary of the `java.lang:type=MemoryPool` MXBeans. The `MemoryPoolMXBean`s provide per-memory-pool statistics, where as `MemoryMXBean` just gives a total for on- and off-heap memory types.

_cassandra-exporter_ exports the stats available from the MemoryPoolMXBean:

[code]

If you'd like to know the total on- and off-heap usage, try:

[code]

[2019-07-16 06:17] zegelin commented on #7
For example, document how to get JVM memory stats, as per #28.

[2019-07-16 13:13] cscetbon commented on #28
Thank you @zegelin. Going to check if there are other metrics that are missing and not calculated by aggregating others and will let you know. I think what you describe totally makes sense.

[2019-07-30 18:33] cscetbon commented on #28
Closing the issue for now. Thanks

[2019-07-30 18:33] #28 closed

[2019-08-26 17:53] serban21 opened #29 "Cassandra 3.0.17 cannot start with agent"
I tried to test it with Cassandra 3.0.17 running as an agent. It seems it hangs in CassandraDaemon.java, before being able to open log files, so there is no debug info. Killing the process will create a new Java/Cassandra process, which seems to be working (both Cassandra and the agent).

I'm using Java 1.8.0_102 on Amazon Linux 2017.09.

[2019-08-29 04:39] cscetbon opened #30 "agent prevents ctrl-c from stopping cassandra"
If you use :
- clone https://github.com/Orange-OpenSource/cassandra-image/tree/945a3ede7f8bd06c0f43ecedbc84bded38c6fea0
- apply patch https://gist.github.com/cscetbon/26f451c9b09480009a33bf59b6462d5f
- build the image using `make build`
- run the image using `docker run --name cassie --rm -ti -P --cap-add IPC_LOCK orangeopensource/cassandra-image:3.11.4-8u212-0.3.2`

and try to stop it using ctrl-

[2019-09-05 13:21] allamand commented on #30
Hi,

This becomes a real problem since once deployed in a Kubernetes cluster, this prevent the Pod to shutdown properly.

In my case, the Pod get stuck in `Terminating` state :

[code]

here is last logs on my pod:

[code]

[2019-09-05 15:08] Blasterdick opened #31 "[Help needed] Minimal metrics setup to monitor node health"
I'm very new to Cassandra and need to healthcheck a cluster of 5 Cassandra nodes with ~1000 of keyspaces created.

With the default setup, I'm getting a huge number of metrics in my Prometheus, which makes it impossible to query for a time range of more than 1 hour, then it gets killed my OOM. While all those metrics aren't informative to me.

So for the sake of future users, who faced the same pr

[2019-09-05 18:21] zegelin commented on #30
Hi @cscetbon and @allamand. Thanks for the bug report. Agree that this is not ideal. I thought everything was running as daemon threads, which shouldn't prevent shutdown, but I must have missed something.

I have a bit of bandwidth this week to look into this further.

[2019-09-05 20:33] cscetbon commented on #30
@zegelin that'd be great. Thank you

[2019-09-17 04:50] zegelin commented on #30
This has been fixed in v0.9.8. Turns out we had added an explicit Netty server shutdown call in a previous release, and this was incorrectly trying to sync on a future.

[2019-09-17 04:50] #30 closed

[2019-09-17 07:16] ahmedjami opened #32 "Missing Client Reads/Writes metrics ?"
Hi,
Can you tell me where I can find the metric which returns the client read count (per table) please ?

Thanks.

[2019-09-17 07:20] ahmedjami commented on #32
I see this in the doc:

sum(cassandra_table_operation_latency_seconds_count) by (keyspace, operation) # total operations by keyspace & type

But "_count" is not the count of observe for a summary metric ?

[2019-09-17 09:26] allamand commented on #30
Thanks a lot @zegelin, this solves our problem ;)

[2019-09-24 08:59] podile commented on #29
Same thing happening for me. Can someone help out?

[2019-09-24 09:14] serban21 commented on #29
@podile I tested it again with the latest version (0.9.8) and the problem seems to be fixed by #30

As far as I'm concerned this can be closed

[2019-09-24 10:32] podile commented on #29
@serban21 Thanks for the update, I will check with the latest version (0.9.8).

[2019-09-24 11:42] podile commented on #18
@Threon  @alkalinecoffee , have any of you started working on it? If not I will try to contribute for adding support for 2.x versions.

[2019-09-24 16:32] BrianGallew commented on #8
I'll be contributing one shortly if I can ever get the internal reviews completed.

[2019-09-28 14:56] alkalinecoffee commented on #18
@podile we ended up writing a custom python script to query datastax opscenter for select data and export it in prometheus format.  If you're interested, I can share the script.

We're in the process of migrating to the latest datastax cassandra version, which I believe has native prometheus export functionality built-in.

[2019-10-28 17:10] serban21 opened #33 "Missing histogram metrics"
Histograms are exposing only the percentiles, min/max/mean/stddev are missing, and there are situations when these are needed.

Example: SSTablesPerReadHistogram. I like to see the average of it, but P50 is not the same as mean. P50 will show the value of the median sample, and since these values are integers it can be quite different from the mean. In my case the mean was changing from 0.3 to 0.7

[2019-11-07 05:58] zegelin opened #36 "cassandra_client_request_latency_seconds metric contains some values without consistency label"
Need to confirm this is desired behaviour.

On a test cluster, the following labels are present:

[code]

[2019-11-07 06:03] zegelin opened #37 "Are Thread Pool `blocked_tasks_total` and `blocked_tasks` similar?"
blocked_tasks is a gauge, blocked_tasks_total is a counter.

Cassandra (3.11.x), increments both when something is blocked:

[code]

`blocked_tasks_total` is more useful, since `blocked_tasks` may change/reset faster than Prometheus collects, resulting in incorrect metrics.

[2019-11-12 10:03] mkey-cdx opened #38 "Broken pipe IOException"
This exception is thrown regularly. I cannot link it to a specific event or cluster state but it sometime overlaps with scrapping timeouts ( which we set to 20s FYI).
I could see it thrown even on idle mono-node cassandra cluster.

[code]

It this harmful? Can this be related to timeouts we observed from time to time?
Note that we use the exporter as java agent.

[2019-11-15 15:09] eperott opened #39 "Add support for Netty 4.1"
The exporter is currently built against Cassandra 3.11.2 and Netty 4.0.

This is one of the reasons as to why it currently is not compatible with Cassandra 4.0, but there are other reasons as well - #23

However, this is preventing us from using the exporter since we back ported selected parts from Cassandra/trunk to 3.11, which includes bumping the Netty version to 4.1.

[2019-11-15 15:24] eperott commented on #39
For what its worth, the incompatible changes between Netty 4.0 and 4.1 relates to the updated API of the [CunkedInput interface](https://netty.io/wiki/new-and-noteworthy-in-4.1.html#chunkedinput-and-chunkedwritehandler).

[2019-11-22 18:56] zegelin commented on #32
Hi @ahmedjami.

Correct, `cassandra_table_operation_latency_seconds_count` is the correct metric to use. The latency histograms are updated on every read & write operation, and hence the sum of `_count` metric across all `operation` labels represents the total number of reads & writes for a table.

You can aggregate further depending on the `by` clause you use…

The following will give you the tot

[2019-11-22 18:57] zegelin commented on #29
Closing, as #30 fixes this.

[2019-11-22 18:57] #29 closed

[2019-11-26 04:22] zegelin opened #41 "cassandra_client_request_latency_seconds casread values combined with read values"
counts for operation=`casread` are included in operation=`read`.

Is there anyway to separate these.

[2019-11-28 12:35] eperott opened #42 "NPE on endpoint snitch"
I've observed this error just after restart of a node.

[code]

[2019-11-29 08:25] eperott commented on #38
I've observed this in a 2-node ccm cluster while trying to reproduce other errors.

I can reproduce this by quickly reloading the metrics page in my browser.

[2019-12-09 13:01] eperott opened #43 "NPE in LabelMaker"
I get these exceptions on startup when running version 0.9.9 on 3.11.5:

[code]

Seem to be related to this commit:
https://github.com/instaclustr/cassandra-exporter/commit/034c5982cd3654ba17c81b39456785042274c5bf

[2019-12-09 14:56] podile opened #45 "Failed to register collector for some of ClientRequest MBean types in Cassandra 3.0.15"
Hi,
I have observed below warning messages where agent is failed to register collector for some of ClientRequest MBean types in in Cassandra 3.0.15. Has anyone faced the same issue? If so, please provide the work-around you have.

[code]

Thanks,
Rohini Podile.

[2019-12-09 16:47] eperott commented on #45
Looks like a duplicate of #43

[2019-12-09 18:14] benbromhead commented on #41
read - casread :)

[2019-12-10 07:05] podile commented on #45
Yes... Thanks @eperott . Closing the ticket now

[2019-12-10 07:05] #45 closed

[2019-12-11 17:45] eperott opened #46 "False positive ByteBuf memory leak detected"
I'm getting the following error every once in a while.

[code]

I'm getting this error message when using resent versions of Netty and I'm pretty sure it is showing because of changes in how sampling is done in the resource leak detector:
https://github.com/netty/netty/pull/7232
So, users will see this when using Netty version 4.0.53/4.1.17 or later:
https://netty.io/news/2017/11/08/4-0-53-Final-4

[2019-12-12 08:35] eperott opened #47 "NPE in Labels.finalize()"
While looking into #46 I discovered that the Labels.finalize() method silently may fail with NPE which would lead to an actual memory leak.

The finalize() method is calling release on two different ByteBuf instances - both may be null.

[2019-12-12 14:40] eperott opened #49 "cassandra_messaging_cross_node_latency_seconds expose values in ms"
Running on version 0.9.9.

Histograms for cassandra_client_request_latency_seconds are exposing values in seconds. However, histograms for cassandra_messaging_cross_node_latency_seconds expose values in millis.

[2019-12-19 13:48] eperott commented on #49
Another few metrics seem to expose values in mills including:
- `cassandra_table_coordinator_latency_seconds`
- `cassandra_cache_miss_latency_seconds`

Observatons are made when running the exporter in-process.

All identified examples have the one thing in common that they all use `timerAsSummaryCollectorConstructor()`  in the `FactoriesSupplier` class . The `timerAsSummaryCollectorConstructor()`

[2019-12-30 04:45] jay7x commented on #43
Hit into this as well with agent 0.9.9 and cassandra 3.11.5 using cassandra:3.11 docker image.

[2020-01-14 14:41] eperott opened #51 "Add support for SSL/TLS"
In some of our deployments we require TLS when collecting metrics. Would be nice to get support for this in the exporter.

[2020-01-14 14:43] eperott commented on #51
I'm working on a patch for this. Plan is to use the SSL support provided by netty which makes the thing pretty straight forward.

[2020-01-22 20:36] #43 closed

[2020-01-22 23:06] #47 closed

[2020-01-22 23:59] #49 closed

[2020-01-23 18:58] zegelin opened #53 "Upgrade Picocli dependency to 4.x"
The project is currently using [Picocli](https://picocli.info) version 3.6.1.
As of this writing the current version of Picocli is 4.1.4.

There have been a number of bug fixes and new features implemented in the newer versions which we can possibly leverage.

[2020-01-25 01:31] #32 closed

[2020-01-25 01:32] zegelin commented on #38
My guess is this is Netty throwing an exception that the socket has been closed from the other side.

I guess we could suppress it...

[2020-02-03 14:22] eperott commented on #38
Yes, I believe you are right.

I'm thinking we could solve this in a dedicated handler that we put last in the Netty pipeline. Rather than printing the full stack trace at WARN level, we could print the error message only at DEBUG level.

We should probably check for the "Broken pipe" message specifically as we still probably want the full stack trace on other kinds of IOException.

WDYT?

[2020-02-03 14:50] eperott commented on #42
In a way this is a similar issue as the one addressed here:
https://github.com/instaclustr/cassandra-exporter/pull/25

Ie, we're trying to collect metrics while the node is still starting up. Would be nice if we could define a set of conditions to check at startup. And unless all conditions are OK, we could respond with a 503 error response.

[2020-02-03 16:22] zegelin commented on #42
I'll have a dig though the C* code base and see if I can come up with a good set of conditions. I don't want to base it purely on node status or the presence of the CQL socket or some other condition that would normally be associated with an "up" node. We want metrics for joining/bootstrapping nodes too!

Perhaps when the storage service is "online" -- ie, the schema is present and all tables have

[2020-02-03 16:26] zegelin commented on #38
That sounds like a reasonable solution.

Shame that we'd have to resort to string matching here, but better than nothing.

[2020-02-05 07:57] eperott commented on #38
Yeah, I think so.

I'd be happy to create a small patch based on the proposal above.

[2020-02-05 09:37] eperott commented on #42
That's a very good point actually. Didn't think of it this way before.

Yeah, perhaps that is "up" enough. Would another option be to create a sub-set of metrics if we're processing a scrape during startup (and other almost-up scenarios). In other words, we could always deliver the metrics that are available in any given moment and silently drop the ones we cant get.

[2020-02-07 00:10] #38 closed

[2020-02-11 13:14] serban21 opened #57 "Missing PendingTasks and MaxTasksQueued in ThreadPoolMetrics"
ThreadPoolMetrics is missing PendingTasks and MaxTasksQueued, see http://cassandra.apache.org/doc/latest/operating/metrics.html#threadpool-metrics

[2020-02-11 13:29] serban21 opened #59 "Add ring neighbour information for each token range present"
In some instances it can be useful to have a quick way of getting the list of all neighbours. Even if this is not available as a Cassandra metric, it is possible to get the information using  Storage Service `describeRingJMX` (https://github.com/apache/cassandra/blob/trunk/src/java/org/apache/cassandra/service/StorageService.java#L1830), which is probably used only for `nodetool describering`

Als

[2020-02-11 14:19] serban21 commented on #59
I also added an option whether to resolve IPs to hostnames and add them as a separate label. I'd rather keep it as an option, since DNS resolve might take some time.

[2020-02-11 16:14] serban21 opened #61 "Add streaming metrics"
http://cassandra.apache.org/doc/latest/operating/metrics.html#streaming-metrics

[2020-02-11 16:21] serban21 commented on #61
Streaming metrics are not visible on new clusters created with ccm. To see them a new node must be added (or an existing one decommissioned), so that some streaming is generated.

After #60 is merged this should also resolve the IPs to hostnames only when explicitly set to do so.

[2020-02-13 10:54] serban21 opened #63 "Missing cordinator write metrics on C*3"
1. `CoordinatorWriteLatency` is not available as a table metric until C*4 (see https://issues.apache.org/jira/browse/CASSANDRA-14232 and https://github.com/apache/cassandra/commit/d38694afe209215f8fc562ca384b82766147eadf). And it's not included anyway in cassandra exporter.
2. At https://github.com/instaclustr/cassandra-exporter/blob/master/common/src/main/java/com/zegelin/cassandra/exporter/Facto

[2020-02-13 15:50] serban21 opened #64 "C*4 includes port in IP sent into Connection metric"
Testing with latest C*4:
[code]

The port is included due to [CASSANDRA-7544](https://issues.apache.org/jira/browse/CASSANDRA-7544) and https://github.com/apache/cassandra/commit/59b5b6bef0fa76bf5740b688fcd4d9cf525760d0. A possible solution might be to replace `InetAddresses` with `HostAndPort`

[2020-02-20 13:06] podile opened #66 "Using --exclude"
I am using file to specify the main arguments, and using another file to exclude metrics families. However, the the metrics supposed to be excluded still appearing in  /metrics. Can you please go through the below configuration and check if there are any issues?

Version: V0.9.10

`JVM_OPTS="$JVM_OPTS -javaagent:$CASSANDRA_HOME/lib/cassandra-exporter-agent.jar=@$CASSANDRA_HOME/conf/metrics-exporte

[2020-02-20 15:21] danischroeter commented on #8
@BrianGallew Hi Brian. Did you have any luck with your reviews?
I (and I guess anybody else) would be happy for any dashboard even if incomplete ;) that would greatly reduce the ramp up time to start monitoring. And maybe we can then even help to improve your board as well ;)
Thx.

[2020-02-20 22:30] zegelin commented on #66
Thanks for the bug report @podile.

The config looks correct from first glance. I'll see if I can reproduce locally.

[2020-02-21 01:29] zegelin commented on #66
@podile, using the config that you've provided I'm able to reproduce the issue. I'll investigate the cause.

[2020-02-21 02:16] #66 closed

[2020-02-21 13:57] podile opened #68 "Cassandra node process is terminated when there is an issue with Cassandra-exporter agent"
Cassandra node process is terminated when cassandra-exporter agent fails to initialize. The impact may be less for smaller Cassandra environments, but the impact is more on bigger Cassandra environments. Agent should not terminate the node process if there any error during initialization. Introduce a new flag based initialization logic to drop agent initialization in case of any error allow the no

[2020-02-21 14:01] podile commented on #68
I am going to work in this enhancement.

[2020-02-21 14:07] podile commented on #68
I will work on this enhancement.

[2020-02-21 21:18] zegelin commented on #68
I disagree. The agent is an extension to Cassandra. Any error in the Cassandra config prevents Cassandra from starting. Likewise, any config error with the exporter agent should follow the same pattern.

[2020-02-21 21:26] #57 closed

[2020-02-21 21:37] #51 closed

[2020-02-21 23:03] #39 closed

[2020-02-22 14:59] BrianGallew commented on #8
Not yet.  In truth, I've been busy with other stuff.  I'm on vacation right
now, but I'll try to get it out in a couple weeks.

On Thu, Feb 20, 2020 at 10:21 AM danischroeter <notifications@github.com>
wrote:

[2020-02-22 15:56] podile commented on #68
I completely agree that patterns wise the process should get terminated in case of any issue with config, and that should be the default behavior.  Adding a flag (--dont_exit_on_error) to continue the node process if agent could't initialize will give peace of mind to the users who maintain huge clusters.

[2020-02-24 22:05] zegelin commented on #68
What kind of errors are we talking about here? Configuration problems should abort IMO.

[2020-02-26 17:10] podile commented on #68
Configuration problems should abort cassandra-exporter agent initialization, should the node process be aborted if Casandra-exporter fails to initialize?

[2020-02-26 17:26] podile opened #69 "Choose specific percentiles from histogram"
Currently there is a vast number of metrics at node level as well as table level. Every metrics is important and has its own  significance. However, capturing every thing will leads to space issues in case of large clusters. Though there are option to filter out some metrics, I don't see an option to capture only a specific percentiles from histogram metrics. Having this option save a lot of space

[2020-02-26 19:09] zegelin commented on #68
Hi @podile. I now have a better understanding of the need for this feature and happy for abort-on-config-problems to be put behind a flag.

[2020-02-26 19:13] zegelin commented on #69
Would this be a per-metric option? i.e, for histogram X, export the 75th and 99th percentiles, but for histogram Y, export everything?

Adding a global option to only export select percentiles for all histograms is relatively easy. Having a per-metic option is somewhat more difficult with the current project architecture.

[2020-02-27 00:09] #8 closed

[2020-02-27 03:30] podile commented on #69
Adding a global option makes sense to me. Limiting percentiles per-metric basis doesn't seem to be a wider use-case.
How difficult would it be for filtering metrics by labels. For example, table level latency metrics returning the latency of every operation, I want to capture these metrics only for the operation types "read" and "write", I don't want for any other operation.

[2020-02-27 12:07] danischroeter commented on #8
thx a lot @zegelin !

[2020-02-27 17:03] zegelin commented on #69
Right now there is no code path or infrastructure in place to filter metrics based on labels.

Currently, filtering is done at "registration time", which is when the exporter is notified that C* has created a new MBean (see the `com.zegelin.cassandra.exporter.Harvester#registerMBean` method, `com/zegelin/cassandra/exporter/Harvester.java:160`). This has the advantage that excluded metrics are comp

[2020-03-02 16:47] podile commented on #69
Thank you, I will go through the code and crate a PR to provide option to only export select percentiles for all histograms.

[2020-03-02 16:51] podile opened #71 "Ways to identify schema changes"
While using stand-alone exporter, keeping target database's credential in the config files may be restricted for some clusters. Are there any ways to identify schema changes other than connecting to the database using native transport protocol?

[2020-03-04 13:12] podile opened #72 "Standalone agent not able connect to DB when connection are encrypted"
Standalone agent not able connect to DB when connection are encrypted. Provide a command line option to crated secured connections.

[2020-03-04 13:25] #71 closed

[2020-03-04 13:29] podile commented on #71
JMXHarvester doing refresh of MBean for every 30 minutes  which will take care of reloading the MBeans of new tables and removal of MBeans of deleted tables.

[2020-03-05 16:04] podile opened #74 "Availability of jars in maven repo"
Can the cassandra-exporter artifacts (agent,standalone) be uploaded into maven repository to enable users to embed exporter into their existing applications?

[2020-03-05 18:49] zegelin commented on #74
Can't see why not. Though I was always under the impression that Maven Central was for libraries (Guava, Guice, etc) rather than apps.

Can you expand on the use case a bit? What app are you trying to embed the exporter inside?

I'll see if it's possible to integrate this into the CI pipeline.

[2020-03-06 03:53] podile commented on #74
We have already installed our own standalone agent app for each node to perform day-to-day maintenance on the node (like monitoring critical metrics, cleaning snapshots, restarting node etc). Making the exporter jars available in central repo enables us to embed the exporter-functionality into our existing app instead of running a new java process for stand-alone exporter.

[2020-03-10 09:15] podile opened #75 "Some metrics are not filtered"
The following metrics are not filtered even if mentioned in --exclude list. These metrics generating too many records in case of larger clusters. For example, a cluster of 250 nodes with 150 keyspaces resulting 37500 metrics.

cassandra_keyspace_effective_ownership_ratio
cassandra_token_ownership_ratio
cassandra_jvm_gc_estimated_collection_duration_seconds_total
cassandra_jvm_nio_buffer_pool_estim

[2020-03-11 10:24] eperott commented on #74
I'm +1 to keep dependencies like this in Maven repos, simply because there are so many tools that will automate dependency management for me with proper Maven coordinates.

But @zegelin have been publishing all releases directly on GitHub which makes it easy to get artifacts from a predictable URL in your automation. So, there is no need to build things on your own, unless you have a fork with mod

[2020-03-12 15:21] podile commented on #74
The current published jar is very fat(9 MB) and many of the classes in the current jar(like netty, datastax etc ) are already used in my current application. If we can publish the other jar standalone-<version> (~35KB) to maven, it can be integrated easily into current app.

[2020-03-12 19:57] zegelin commented on #74
I'll look to extending the CI pipeline to push the built, pre-shaded JARs up to Maven Central or somewhere similar.

I have a bit of bandwidth to look into this over the next few days.

[2020-03-12 20:18] zegelin commented on #75
Try adding an exclusion for `org.apache.cassandra.db:type=StorageService`. That will disable all StorageService metrics.

Exclusions are implemented at registration time and can either filter on MBean names/patterns or _collector names_.

For most metrics (anything that uses `FunctionalMetricFamilyCollector`) the collector name is equivalent to the prometheus metric family name, as there is one-to

[2020-03-15 08:24] podile opened #77 "Removal of MBean causing ConcurrentModificationException"
When a table/schema is dropped, removal of MBean causing ConcurrentModificationException

java.util.ConcurrentModificationException: null
        at java.base/java.util.HashMap$HashIterator.nextNode(HashMap.java:1493)
        at java.base/java.util.HashMap$KeyIterator.next(HashMap.java:1516)
        at com.google.common.collect.Iterators$6.computeNext(Iterators.java:616)
        at com.google.comm

[2020-03-23 07:01] hadarizi opened #79 "Cassandra rules"
I couldn't find any alert manager rules for this exporter.
Is there such file that I can use?

[2020-03-30 19:04] smiklosovic commented on #79
Hi @hadarizi I am not aware of any. If you manage to create one it would be cool to contribute it so folks can use it too. Thank you for your interest.

[2020-03-31 12:57] eperott opened #83 "Buffer overflow in nio exposition"
The change to the Netty ChunkedNioStream introduced a regression.

This happens because the ChunkedNioStream will not flush the buffer unless it has reached the actual chunk limit, instead it will just make another call to `ReadableByteChannel.read()`.

[code]

[2020-03-31 12:58] eperott commented on #83
I'm working on a fix for this.

[2020-04-02 06:20] eperott commented on #42
Today I observed another, but similar issue during node startup.

@zegelin did you have any chance to look into this?

[code]

[2020-04-02 19:10] zegelin commented on #42
Not yet regrettably. I've been busy on other projects the past few weeks.

[2020-04-11 17:17] universalle opened #85 "prometheus-exclusions"
How prometheus-exclusions file should look like?
Real examples?

How to exclude for example these metrics?

cassandra_dropped_messages_cross_node_latency_seconds
cassandra_dropped_messages_internal_latency_seconds
cassandra_dropped_messages_total

[2020-04-12 11:49] hadarizi commented on #85
Hi @universalle
under cassandra-env.sh add:
JVM_OPTS="$JVM_OPTS -javaagent:<path>/cassandra/lib/cassandra-exporter-agent-0.9.11.jar=@<path>/cassandra/conf/metrics-exporter.yml"

under metrics-exporter.yml:
--global-labels=CLUSTER,NODE
--exclude-keyspaces=dse_security
**--exclude=@<path>/cassandra/conf/exclude-metrics.properties**

under exclude-metrics.properties define the metrics to exclude:
cas

[2020-04-12 18:36] universalle commented on #85
Thank you very much @hadarizi

[2020-04-13 05:45] hadarizi commented on #31
Hi @Blasterdick ,
If you would like to check your node status (up/down) I would advise you to use the following exporter: https://github.com/criteo/casspoke
It exposes only few dozens metrics per node.
![image](https://user-images.githubusercontent.com/47101913/79095321-c397e480-7d62-11ea-8a3e-cabe631ea1ae.png)

use the following metrics for grafana graph:
metric: count( count by (exported_instanc

[2020-05-27 08:25] mdone-cloudian opened #86 "Could it be force to be a generic bean/jmx exporter?"
You state right at the beginning that this exporter is faster than jmx_exporter, even when the latter is also run as an Agent. My question would be, could I hack this thing to make it export other beans in other java services and process values (heap, etc) without penalizing much its speed?

[2020-06-02 06:51] zegelin commented on #86
Hi @mdone-cloudian.

Are you using the exporter with Cassandra and wish that it could export something that it currently doesn't? If so, let us know and we can look into adding support for it.

Or are you asking if this exporter could be adapted to work with other JVM-based applications?
Currently the exporter is very much tailored towards exporting Cassandra metrics and certain JVM metrics. Howev

[2020-06-02 07:14] mdone-cloudian commented on #86
Do you do this by targeting specific beans, or do you scan them all like most other bean exporters around?

yes

I don't see any in https://github.com/instaclustr/cassandra-exporter/wiki/Exported-Metrics

I haven't tried the other ones yet, but we also run `redis` and at least 3 in-house JVM apps.

[2020-06-16 03:56] zegelin commented on #86
Sorry for the delayed reply.

This exporter, when run as an agent, hooks into MBean registration by installing a `MBeanServerInterceptor` into the host JVM's `MBeanServer`. This gives us two things:

1. Access to the raw objects, rather than the proxies, as created by JMX.
2. Immediate notification of MBean registration.

See the logic in https://github.com/instaclustr/cassandra-exporter/blob/cb3e

[2020-08-21 00:02] #86 closed

[2020-08-21 00:06] zegelin opened #88 "Export Raw Histogram Data Is Possible"
Determine if it's possible to export raw histogram data as a Prometheus Histogram, rather than as a Summary.

This would allow for aggregation and other things.

[2020-08-27 12:55] eperott commented on #69
I'd be interested in this functionality as well.
@podile, any progress on this? How come the PR was closed?

[2020-09-01 09:21] podile commented on #69
The PR[ Percentile filter #73](https://github.com/instaclustr/cassandra-exporter/pull/73) contains the implementation is still Open

[2020-09-02 13:22] TvdW commented on #88
Hey, I'm interested this and after prototyping something I concluded that this would be very doable (had a test setup running for a few weeks and it produced some very useful data). If you haven't started work on this I'd be very happy to contribute a patch.

[2020-09-02 14:37] zegelin commented on #88
Hi @TvdW, I haven't started work on this yet.

We'd be grateful if you were willing to contribute your patch.

[2020-09-02 19:36] spjspjspj opened #89 "Exceptions with cassandra 3.11.7"
[code]

Running the 0.9.3 and tried 0.9.9 as well. Both have the same problem. Also, it takes minutes to download metrics.

[2020-09-02 20:39] spjspjspj commented on #89
hmm, I think 0.9.10 fixed the problem. Thanks!

[2020-09-02 20:39] #89 closed

[2020-09-03 05:05] eperott commented on #69
Euhm, right! Not sure how I could miss that!

@zegelin , any plans to merge this any time soon?

[2020-09-03 15:18] TvdW commented on #88
Pushed #90 which is a POC. Please have a look and let me know what you think.

[2020-10-28 15:57] JensRantil opened #91 "Feature: Export keyspace replication factor metrics"
We have a custom developed Cassandra exporter that uses the `system_schema.keyspaces` table to export metrics like the following Gauge (containing the replica factor):
[code]
This might be very useful information to make inventory and alerts on keyspaces that are under replicated (for example `system_auth` keyspace defaults to 1).

[2020-11-03 14:05] sumitm-iiit opened #92 "Does not seem to work with Cassandra Version 3.11.7"
The readiness check is failing when agent is run with Cassandra version 3.11.7.
Seeing lot of below warn messages:

[code]

[2020-11-20 07:41] Rashmi-lab commented on #23
Are there any plans to merge this exporter changes in to the main branch, so that it would be compatible with cassandra version 4.0?

[2021-02-10 18:17] christidis opened #94 "Broken pipe IOException every 5 minutes"
In a 3-node Cassandra cluster, the graphs from one node are not consistent in Grafana, they have gaps and Prometheus reports timeouts. I have tried increasing timeout to 30s but this didn't help.

In the logs I can see this warning which is due to the timeouts according to https://github.com/instaclustr/cassandra-exporter/issues/38

[code]

Debugging this I have noticed that all requests are serve

[2021-02-11 00:32] zegelin commented on #94
1m40s for a scrape certainly sounds like something is stuck.

- Is Cassandra-exporter running as an agent or standalone?
- Are you scraping all metrics, or a subset?
- How big is the C* schema?
- What does the host's CPU load look like? Both at the time of the spike, and on the lead-up.
- How much load is the C* node receiving (request throughput, etc)?
- Any mention of GC pauses in the C* `system

[2021-02-11 11:43] christidis commented on #94
- The exporter is running as an agent within Cassandra.

- I didn't exclude anything, so it requests the whole thing every time. I will give it a try with subsets and report back.
- Cassandra has ~ 112 keyspaces. 4 tables each. With `replication = {'class': 'SimpleStrategy', 'replication_factor': '3'}  AND durable_writes = true;`
- Each node is running on top of Docker, with 12 CPUs and 64GB RAM l

[2021-02-11 15:20] christidis commented on #94
I have managed to exclude all keyspaces but system keyspaces. In order to do that I used multiple `--exclude-keyspaces=` options for every keyspace and the issue went away but I don't have keyspace/table metrics.

I then included ~ 50 keyspaces (around 50%) and the timeouts came back.
[code]

The other nodes do not have an issue with all 112 keyspaces included
[code]

[2021-02-12 01:16] zegelin commented on #94
Can you add the `--enable-collector-timing` option. This will export an additional metric family `cassandra_exporter_collection_time_seconds_total` that will contain the runtime of each individual collector. This will help us narrow down which metric family is being slow.

You could be on the right track with the few cached metrics. `snapshots_size_bytes_total` is expensive to compute, as C* goes

[2021-02-12 10:47] christidis commented on #94
Your input was very valuable, thanks! `cassandra_table_snapshots_size_bytes_total` is killing it.
![image](https://user-images.githubusercontent.com/26735628/107753445-bf44ab00-6d28-11eb-8a64-78c13fa8020c.png)

Indeed the `strace` output attached did show a lot of CPU traffic but also showed 22764 `lstat` calls.

Yes, I have many snapshots but I am copying them out of the Cassandra data directory

[2021-02-12 10:47] christidis commented on #94
No more gaps after clearing the snapshots. Thanks @zegelin. Closing.

[2021-02-12 10:47] #94 closed

[2021-02-15 10:05] zegelin commented on #94
Glad we could narrow this down. I'll make note that the behaviour needs to be improved (somehow).

That `estimated_partitions` metric looks to be more expensive than I expected too.

[2021-02-23 11:44] lapo-luchini opened #95 "Broken pipe IOException during compaction"
Hi, I have a node acting as disaster recovery DC… it doesn't have much memory or CPU resources (but of course is good as far as disk space goes) as little to no queries go to it, but I find that during heavy compaction cassandra_exporter fails to finish work in time and generates scrape timeouts on Prometheus side and broken pipes in the local logs.

The outcome seems very similar to issue #94 but

[2021-02-23 14:49] lapo-luchini commented on #95
Something is amiss… the report states it took 32.88s, but `time` reports 9'40" wall time.

[code]

[2021-02-23 23:22] lapo-luchini commented on #95
99% of the calls do timeout, but the little that manage to go thru gave me this:

`sort_desc(sum(avg_over_time(cassandra_exporter_collection_time_seconds_total[6h])) by (collector)) > 0.5`

![image](https://user-images.githubusercontent.com/420454/108921237-587f9580-7636-11eb-9b82-80ee08bfe5d1.png)

[2021-02-24 08:35] ChrisBlom commented on #95
I'm seeing the same problem, on one node the scrape was timeing out, and it's slow on the remaining node.
I enabled --enable-collector-timing: the collector for cassandra_table_estimated_partitions is taking the most time by far:

![cassanda-export-slow-estimated-partitions-collector](https://user-images.githubusercontent.com/1045624/108969642-0d8b6f80-7682-11eb-8a8c-85665920c4e6.png)

This cluste

[2021-02-24 11:50] ko-christ commented on #79
Hey, my [PR#196](https://github.com/samber/awesome-prometheus-alerts/pull/196) to this project got merged, so please check this page for Cassandra Rules https://awesome-prometheus-alerts.grep.to/rules.html#cassandra

I mostly used the existing rules from `criteo/cassandra_exporter` and converted them to rules for `instaclustr/cassandra-exporter`.
@zegelin you may want to add a note in README for C

[2021-02-25 14:20] ChrisBlom commented on #95
If i understand the code correctly, the estimation of the number of partitions is done by cassandra by looping of all memtables and sstables, so it don't think that the problem is caused by cassandra-exporter .

Relevant code:
https://github.com/instaclustr/cassandra-exporter/blob/master/common/src/main/java/com/zegelin/cassandra/exporter/FactoriesSupplier.java#L704
https://github.com/apache/cassa

[2021-02-25 23:10] zegelin commented on #92
Closing, as those warnings don't come from `cassandra-exporter`. They come from https://github.com/datastax/management-api-for-apache-cassandra

[2021-02-25 23:10] #92 closed

[2021-02-25 23:13] zegelin commented on #95
Yep, looks like `estimated_partitions` is another one where C* can end up performing a whole bunch of work behind the scenes to get the values. For now, perhaps blacklist the the `estimated_partitions` metric using the `--exclude` option.

I'm hesitant to just enable caching for this metric, since that'll exhibit the same behaviour as #94. Might need a way to background-fetch expensive metrics and

[2021-03-26 17:47] chicobento opened #96 "Feature: support for plugglabe metrics suppliers"
We have a set of cassandra plugins developed within the company. The plugins are exposing their own set of metrics via JMX.
We would like to expose those metrics to prometheus via cassandra-exporter along the standard set of supported metrics.
Please, provide a way of plugging in new metrics.

By looking at the code, I found that it could be potentially achieved by dynamically loading FactoriesSup

[2021-04-12 15:14] chicobento commented on #96
I created an initial PR. Some other refactoring may be done such as providing the existing metrics in [FactoriesSupplier](https://github.com/instaclustr/cassandra-exporter/blob/2767af95b57831d0882d80e47566a452261a72b0/common/src/main/java/com/zegelin/cassandra/exporter/FactoriesSupplier.java) via the _FactoryProvider_ interface.

With this feature, the #74 issue is still more relevant, so that cas

[2021-04-12 23:56] zegelin commented on #96
Thanks for the PR @chicobento. I really like the idea of having dynamic providers. In fact, this could even be a good path forward to enabling compatibility with C* 4.0 (since it'll need a different set of collectors).

[2021-04-13 15:16] chicobento commented on #96
Hi @zegelin , yes, I was thinking on splitting the core module from the 'default' collector provider lets say, but that would make the deployment a bit more tricky for now - however this could be something to consider with the C* 4.0 in the landscape.

Just so you know, I did some integration tests internally and it is working fine: my cassandra plugin metrics can be seen on the scrap interface.
P

[2021-08-26 08:52] MGulerce opened #101 "Export metric on https with ssl"
Hello,
I'm new to cassandra-exporter.I setup the jar with standalone and agent .Works fine each way.But metric can read on http://IP:9500
But I cant add ssl encryption.I dont know if it's possible to do.
If it's possible how can ı do that?

Thanks for helping.

[2021-08-30 04:31] zegelin commented on #101
The exporter supports ssl. See the `--ssl` CLI option, and its counterparts. Have a look at the [Options](https://github.com/instaclustr/cassandra-exporter#options) section of the README.

If you're encountering an error when trying to enable SSL please provide more details.

Hope this helps!

[2021-08-30 17:52] MGulerce commented on #101
Hi ,
I downloaded standalone jar version 0.9.10. When I checked the cli option with --help. It gives me nothing about ssl options.But as you say  in the README has ssl options.Here is what ı get

`java -jar cassandra-exporter-standalone-0.9.10.jar --help`
[root@localhost mg]# java -jar cassandra-exporter-standalone-0.9.10.jar --help
Usage: cassandra-exporter [-hV] [--enable-collector-timing]

[2021-10-25 10:55] talonx opened #103 "Connection reset exceptions"
Version : 0.9.10

We run the exporter as a sidecar with our Cassandra pods. Once in a while the logs are full of these exceptions which continue for days.
[code]

The exporter's UP metric is 0 when this happens as Prometheus is not able to scrape it.

I attempted to curl against the exporter endpoint directly from the pod, and in this case the response comes partially (some metrics show up) follow

[2021-11-16 03:09] talonx commented on #103
Is this project still maintained?

[2022-04-06 17:13] tomushu opened #104 "Unable to compute when histogram overflowed"
Hi,
I'm using cassandra-exporter-standalone-0.9.10.jar with cassandra 3.11.10 and suddenly the exporter for some of the nodes in one DC and two different clusters, started crashing with the errors below.
What is strange is, using the same jar from a different machine and connecting to one of the troubled cassandra nodes, the exporter doesn't crash.
16:52:47.688 [main] INFO com.datastax.driver.core

[2022-11-30 10:04] lapo-luchini opened #106 "Problems with IPv6 addresses"
I have some new nodes that are using IPv6 address as primary, and I see this in their logs:

[code]